@use 'constants' as consts;

#content-bg #content .calendar {
    .month-selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-weight: bold;

        margin: 10px 0px 10px 0px;

        .prev,
        .next {
            font-size: 1.3rem;
            font-weight: bold;
        }

        .prev {
            float: left;
        }

        .next {
            float: right;
        }

        .prev .year {
            margin: 3px;
        }
    }

    ul.days {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            width: 14.25%;
            text-align: center;
            margin: 0;

            &.weekday {
                font-style: italic;
            }

            &.current-month {
                background-color: rgba(255, 255, 255, consts.$opacity1);
            }

            &.today {
                font-weight: bold;
                background-color: rgba(255, 255, 255, consts.$opacity2);
            }

            .day-num {
                color: consts.$blue-light;
                background-color: consts.$red-dark;
            }

            .download-count {
                font-size: 1.3rem;
            }
        }
    }
}