@use "sass:color";

@use 'constants' as consts;
@use 'calendar';

@mixin central-part {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
   padding-left: 12px;
   padding-right: 12px;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

html {
   height: 100%;
   font-size: 87.5%;
}

body {
   font-family: verdana, sans-serif;
   font-size: 1rem;
   line-height: 1.3;
   color: black;

   background: linear-gradient(to bottom right,
         consts.$blue-dark 0%,
         consts.$blue-light 100%) fixed;
}

img {
   border: 0px;
   max-width: 100%;
   height: auto;
}

em {
   font-weight: bold;
}

a {
   color: color.adjust(consts.$blue-dark, $lightness: 20%, $saturation: -20%);
   text-decoration: none;

   &:hover {
      color: color.adjust(consts.$blue-dark, $lightness: 30%);
   }
}

h1 {
   font-style: italic;
   font-size: 1.2rem;
   margin-top: 7px;
   margin-bottom: 10px;
}

h2 {
   font-style: italic;
   font-size: 1.15rem;
   margin-top: 3px;
   margin-bottom: 10px;
}

h3 {
   font-style: italic;
   font-size: 1.1rem;
   margin-top: 1px;
   margin-bottom: 8px;
}

p {
   margin-bottom: 10px;
}

.box {
   margin: 10px;
   padding: 12px;
   background-color: rgba(255, 255, 255, consts.$opacity2);
   border-radius: 16px;
}

.gallery {
   p {
      font-style: italic;
      font-size: 0.9rem;
      margin-left: 6px;
      margin-bottom: 0px;
   }
}

@mixin highlight-link-header {
   color: white;
   background-color: consts.$red-light;
   border-radius: 10px;
}

#canvas-menu {
   left: 0px;
   top: 20px;
   position: absolute;
   z-index: -1;
}

select {
   background-color: rgba(255, 255, 255, consts.$opacity2);
   border-radius: 10px;
   padding: 0px 8px;
   border: 0;

   option {
      background-color: white; // must be opaque.
   }
}

#header {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;

   font: italic 0.9rem verdana, sans-serif;
   line-height: normal;
   background-image: url("img/bg.png");
   background-attachment: fixed;
   background-color: rgba(255, 255, 255, consts.$opacity1);
   padding-top: 1px;
   padding-bottom: 1px;

   #langs {
      margin-left: 10px;
      color: consts.$red-dark;

      option {
         color: consts.$red-dark;
      }
   }

   ul {
      display: flex;
      flex-wrap: wrap;

      a {
         vertical-align: top;
         padding: 0px 10px 0px 10px;
         color: consts.$red-dark;

         &:hover {
            @include highlight-link-header;
         }
      }

      &#external-links {
         margin-right: 5px;
         list-style: none;

         li a {
            margin-right: 10px;
         }
      }
   }
}

#menu {
   @include central-part;

   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: space-between;

   #logo {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
   }

   ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      list-style: none;

      a {
         color: white;
         font-style: italic;
         font-size: 1.05rem;
         margin-right: 16px;

         &:hover,
         &.current-page {
            color: consts.$red-light;
         }
      }
   }
}

#content-bg {
   background-image: url("img/bg.png");
   background-attachment: fixed;
   background-color: rgba(255, 255, 255, consts.$opacity1);

   #content {
      @include central-part;
      padding-top: 15px;
      padding-bottom: 15px;
      display: flow-root; // Contains the floated elements (gallery, logo).

      a {
         font-weight: bold;
      }

      .download {
         border: 3px solid white;

         &:hover {
            border-color: consts.$red-light;
         }

         border-radius: 40px;
         width: 340px;
         background-color: rgba(255, 255, 255, consts.$opacity2);
         margin: 15px 15px 0px 15px;

         &.win32 {
            background-image: url("img/download_for_windows.png");
         }

         &.dmg {
            background-image: url("img/download_for_mac.png");
         }

         &.amd64 {
            background-image: url("img/download_for_linux.png");
         }

         &.i386 {
            background-image: url("img/download_for_linux.png");
         }

         &.armhf {
            background-image: url("img/download_for_raspberry.png");
         }

         background-repeat: no-repeat;
         background-position: 12px 18px;

         a {
            color: consts.$red-dark;
            display: block;
            font-weight: normal;
            font-size: 0.9rem;

            &:hover {
               color: color.adjust(consts.$red-dark, $lightness: 20%);
            }
         }

         a.installer {
            min-height: 58px;
            padding: 6px 17px 6px 45px;
            text-align: center;

            em {
               font-size: 1.05rem;
            }
         }

         a.torrent {
            width: 200px;
            border-radius: 10px 10px 0 0;
            margin: 0px 10px 0px 50px;
            padding: 1px 0px 1px 10px;
            background-color: rgba(255, 255, 255, consts.$opacity2);

            &:hover {
               color: white;
               background-color: consts.$red-light;
            }
         }
      }

      &.home .gallery {
         float: right;
         margin-right: 0px;
      }

      &.features .gallery {
         display: inline-block;
      }

      &.faq {
         div.qa {
            margin-bottom: 25px;
         }

         div.question,
         div.answer {
            margin-bottom: 10px;
         }

         .answer {
            margin-left: 15px;
         }
      }

      &.donate {
         .bitcoin {
            vertical-align: -10px;
            margin-right: 10px;
         }

         .bitcoin-qr-code {
            display: block;
            margin: 20px auto 10px auto;
         }

         input {
            font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
            text-align: center;
         }
      }

      &.about {
         a.logo {
            display: block;
            float: right;
            margin: 10px;
         }
      }

      ul {
         margin-bottom: 10px;
         margin-left: 40px;
      }
   }
}

#footer {
   @include central-part;
   text-align: right;
   margin-top: 2px;

   font-size: 0.85rem;
   color: white;

   .admin {
      margin-right: 20px;
   }

   a {
      color: color.adjust(consts.$blue-dark, $lightness: 60%, $saturation: -20%);

      &:hover {
         color: color.adjust(consts.$blue-dark, $lightness: 80%);
      }

      &.current-page {
         color: consts.$red-light;
      }
   }
}

@media (max-width: 640px) {
   #content-bg #content .download {
      width: auto;
   }

   #header ul#external-links {
      margin-right: 1px;

      li a {
         margin-right: 2px;
         padding-left: 2px;
         padding-right: 2px;
      }
   }
}