<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>Angry</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>(¬_¬&quot;)</string>
			</array>
			<key>Name</key>
			<string>Angry</string>
		</dict>
		<key>VeryAngry</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-O</string>
				<string>:@</string>
				<string>:-@</string>
				<string>(ò_ó)</string>
			</array>
			<key>Name</key>
			<string>Very Angry</string>
		</dict>
		<key>Ambivalent</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-|</string>
				<string>:|</string>
			</array>
			<key>Name</key>
			<string>Ambivalent</string>
		</dict>
		<key>Angel</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&quot;(^_^)&quot;</string>
			</array>
			<key>Name</key>
			<string>Wings</string>
		</dict>
		<key>Blush</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
				<string>(n///n)</string>
			</array>
			<key>Name</key>
			<string>Blush</string>
		</dict>
		<key>Confused</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:S</string>
				<string>:-S</string>
				<string>:s</string>
				<string>:-s</string>
				<string>(.O.&apos;)</string>
			</array>
			<key>Name</key>
			<string>Confused</string>
		</dict>
		<key>Crazy</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>%-)</string>
				<string>%)</string>
			</array>
			<key>Name</key>
			<string>Crazy</string>
		</dict>
		<key>Crying</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:&apos;(</string>
				<string>(T_T)</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
		<key>Foot In Mouth</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:!</string>
				<string>:-!</string>
			</array>
			<key>Name</key>
			<string>Worried</string>
		</dict>
		<key>Frown</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-(</string>
				<string>:(</string>
				<string>(._.)</string>
				<string>(u_u)</string>
			</array>
			<key>Name</key>
			<string>Frown</string>
		</dict>
		<key>Gasp</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:o</string>
				<string>=-o</string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
		<key>LargeGasp</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:O</string>
				<string>=O</string>
				<string>=-O</string>
				<string>:-O</string>
				<string>(OwO)</string>
				<string>(O_O)</string>
			</array>
			<key>Name</key>
			<string>Gasp Big</string>
		</dict>
		<key>Laugh</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-D</string>
				<string>:D</string>
				<string>(^O^)</string>
			</array>
			<key>Name</key>
			<string>Laugh</string>
		</dict>
		<key>Grin</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^_^</string>
				<string>^^</string>
				<string>^-^</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
		<key>Halo</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:-)</string>
				<string>O:)</string>
				<string>o:-)</string>
				<string>o:)</string>
				<string>(*_*)</string>
				<string>(A)</string>
			</array>
			<key>Name</key>
			<string>Halo</string>
		</dict>
		<key>Heart</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(L)</string>
				<string>&lt;3</string>
				<string>(♥_♥)</string>
			</array>
			<key>Name</key>
			<string>Heart</string>
		</dict>
		<key>Hot</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
				<string>8)</string>
				<string>(H)</string>
			</array>
			<key>Name</key>
			<string>Hot</string>
		</dict>
		<key>Kiss</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
				<string>(K)</string>
				<string>)^o^(</string>
			</array>
			<key>Name</key>
			<string>Kiss</string>
		</dict>
		<key>Lips are Sealed</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:X</string>
				<string>:-x</string>
				<string>:-X</string>
				<string>:x</string>
				<string></string>
			</array>
			<key>Name</key>
			<string>Lips are Sealed</string>
		</dict>
		<key>Money-mouth</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:$</string>
				<string>$)</string>
				<string>:-$</string>
				<string>$-)</string>
				<string>($_$)</string>
			</array>
			<key>Name</key>
			<string>Money-mouth</string>
		</dict>
		<key>Sarcastic</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(sarc)</string>
				<string>&lt;/sarcasm&gt;</string>
				<string>^)</string>
				<string>(o_O)</string>
			</array>
			<key>Name</key>
			<string>Sarcastic</string>
		</dict>
		<key>Naughty</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:-)</string>
				<string>&gt;:)</string>
				<string>&gt;:-&gt;</string>
				<string>&gt;:&gt;</string>
			</array>
			<key>Name</key>
			<string>Naughty</string>
		</dict>
		<key>ohnoes</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>D:</string>
			</array>
			<key>Name</key>
			<string>Oh Noes!</string>
		</dict>
		<key>Nerd</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-B</string>
				<string>:B</string>
				<string>8-B</string>
				<string>8B</string>
			</array>
			<key>Name</key>
			<string>Nerd</string>
		</dict>
		<key>Sick</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:[[</string>
				<string>(sick)</string>
				<string>(-__-)</string>
			</array>
			<key>Name</key>
			<string>Sick</string>
		</dict>
		<key>Smile</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
				<string>(^_^)</string>
				<string>^_^</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
		<key>Sticking Out Tongue</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:P</string>
				<string>:-p</string>
				<string>:-P</string>
				<string>:p</string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
		<key>Pirate</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>P-[</string>
			</array>
			<key>Name</key>
			<string>Pirate</string>
		</dict>
		<key>Undecided</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:\</string>
				<string>:/</string>
				<string>:-\</string>
				<string>:-/</string>
				<string>(=_=)</string>
			</array>
			<key>Name</key>
			<string>Undecided</string>
		</dict>
		<key>Thumbs Down</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(N)</string>
				<string>(n)</string>
				<string>(-_-)p</string>
			</array>
			<key>Name</key>
			<string>Thumbs Down</string>
		</dict>
		<key>Thumbs Up</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(Y)</string>
				<string>(y)</string>
				<string>(^_^)d</string>
			</array>
			<key>Name</key>
			<string>Thumbs Up</string>
		</dict>
		<key>Wink</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;-)</string>
				<string>;)</string>
				<string>(^_-)</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>Yum</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-d</string>
				<string>:d</string>
			</array>
			<key>Name</key>
			<string>Yum</string>
		</dict>
	</dict>
</dict>
</plist>
