*.[oa]
moc_*.cpp
*.moc
*.pb.cc
*.pb.h
*.pb.cpp
*.user
*.user.*
*.session
*.Release
*.Debug
*.exe
*.qm
*.dll
Makefile*
output/
Installations/
.tmp/
/doc/doxygen/html
qrc_*.cpp
TODO
*.session
*.DS_STORE
Thumbs.db