<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
	
         <key>joyful.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^_^</string>
				<string>^-^</string>
				<string>^^</string>
				<string>:))</string>
				<string>:-))</string>
			</array>
			<key>Name</key>
			<string>Joyful</string>
		</dict>
	
      <key>annoyed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
				<string>&gt;:-o</string>
				<string>&gt;:O</string>
				<string>&gt;:-O</string>
				<string>X(</string>
				<string>X-(</string>
				<string>x(</string>
				<string>x-(</string>
				<string>:@</string>
				<string>&lt;_&lt;</string>
			</array>
			<key>Name</key>
			<string>Annoyed/Angry</string>
		</dict>
		
      <key>crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
				<string>='(</string>
			</array>
			<key>Name</key>
			<string>Crying</string>
		</dict>
      <key>pouty.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
				<string>=|</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>Pouty</string>
		</dict>
      <key>surprised.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-O</string>
				<string>:O</string>
				<string>:-o</string>
				<string>:o</string>
				<string>:-0</string>
				<string>=-O</string>
				<string>=-o</string>
				<string>=o</string>
				<string>=O</string>
			</array>
			<key>Name</key>
			<string>Gasp</string>
		</dict>
      <key>biggrin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-d</string>
				<string>:d</string>
				<string>:-D</string>
				<string>:D</string>
				<string>:d</string>
				<string>=D</string>
				<string>=-D</string>
			</array>
			<key>Name</key>
			<string>Grin</string>
		</dict>
      <key>innocent.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>O:)</string>
				<string>o:)</string>
				<string>o:-)</string>
				<string>O:-)</string>
				<string>0:)</string>
				<string>0:-)</string>
			</array>
			<key>Name</key>
			<string>Innocent</string>
		</dict>
      <key>kissing.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
				<string>:*</string>
			</array>
			<key>Name</key>
			<string>Kissing</string>
		</dict>
      <key>smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-)</string>
				<string>:)</string>
			</array>
			<key>Name</key>
			<string>Smile</string>
		</dict>
      <key>tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:P</string>
				<string>=P</string>
				<string>=p</string>
				<string>:-P</string>
				<string>:p</string>
				<string>:-p</string>
				<string>:b</string>
			</array>
			<key>Name</key>
			<string>Sticking Out Tongue</string>
		</dict>
      <key>cool.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>B)</string>
				<string>B-)</string>
				<string>8)</string>
			</array>
			<key>Name</key>
			<string>Cool</string>
		</dict>
      <key>wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;)</string>
				<string>;-)</string>
				<string>;&gt;</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>


      <key>happy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=)</string>
				<string>=-)</string>
				<string>=))</string>
				<string>:))</string>
			</array>
			<key>Name</key>
			<string>Big Smile</string>
		</dict>
		
		
      <key>alien.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=:)</string>
				<string>(alien)</string>
			</array>
			<key>Name</key>
			<string>Alien</string>
		</dict>
		
		
      <key>andy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>o_O</string>
				<string>o_0</string>
				<string>O_O</string>
				<string>o_o</string>
				<string>O_o</string>
				<string>0_o</string>
				<string>o0</string>
				<string>0o</string>
				<string>oO</string>
				<string>Oo</string>
				<string>0_0</string>
			</array>
			<key>Name</key>
			<string>Shocked</string>
		</dict>
		
      <key>devil.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:)</string>
			</array>
			<key>Name</key>
			<string>Devilish</string>
		</dict>
		
      <key>unsure.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:\</string>
				<string>:/</string>
				<string>=/</string>
				<string>=\</string>
				<string>:-/</string>
				<string>:-\</string>
				<string>:s</string>
				<string>:-S</string>
				<string>:-s</string>
				<string>:S</string>
			</array>
			<key>Name</key>
			<string>Uncertain</string>
		</dict>
			
      <key>lol.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(LOL)</string>
			</array>
			<key>Name</key>
			<string>Laughing Out Loud</string>
		</dict>
		
      <key>ninja.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(:)</string>
				<string>(ph33r)</string>
				<string>(ph34r)</string>
			</array>
			<key>Name</key>
			<string>Ninja</string>
		</dict>
		

      <key>pinched.png</key>
		<dict>
			<key>Name</key>
			<string>Pinching Eyes/Whatever!</string>
			<key>Equivalents</key>
			<array>
				<string>&gt;_&lt;</string>
			</array>
		</dict>
      <key>rightful.png</key>
		<dict>
			<key>Name</key>
			<string>Rightful</string>
			<key>Equivalents</key>
			<array>
				<string>(police)</string>
				<string>(cop)</string>
				<string>{):)</string>
			</array>
		</dict>
      <key>sad.png</key>
		<dict>
			<key>Name</key>
			<string>Unhappy</string>
			<key>Equivalents</key>
			<array>
				<string>:(</string>
				<string>=(</string>
				<string>=-(</string>
				<string>:-(</string>
			</array>
		</dict>
      <key>sick.png</key>
		<dict>
			<key>Name</key>
			<string>Sick</string>
			<key>Equivalents</key>
			<array>
				<string>:&amp;</string>
				<string>:-&amp;</string>
			</array>
		</dict>
      <key>sideways.png</key>
		<dict>
			<key>Name</key>
			<string>Smiling Sideways</string>
			<key>Equivalents</key>
			<array>
				<string>=]</string>
			</array>
		</dict>
      <key>sleeping.png</key>
		<dict>
			<key>Name</key>
			<string>Sleeping</string>
			<key>Equivalents</key>
			<array>
				<string>-_-</string>
				<string>-.-</string>
				<string>(-.-)</string>
				<string>|)</string>
				<string>|-)</string>
				<string>I-)</string>
				<string>I-|</string>
			</array>
		</dict>

      <key>w00t.png</key>
		<dict>
			<key>Name</key>
			<string>W00T!</string>
			<key>Equivalents</key>
			<array>
				<string>(woot)</string>
				<string>(w00t!)</string>
				<string>(wOOt)</string>
			</array>
		</dict>
      <key>whistling.png</key>
		<dict>
			<key>Name</key>
			<string>Whistling</string>
			<key>Equivalents</key>
			<array>
				<string>:-"</string>
			</array>
		</dict>
      <key>love.png</key>
		<dict>
			<key>Name</key>
			<string>Luv You!</string>
			<key>Equivalents</key>
			<array>
				<string>:-X</string>
				<string>:-xX</string>
				<string>:x</string>
				<string>(wubya)</string>
				<string>(wubyou)</string>
				<string>(wub)</string>
			</array>
		</dict>
		
            <key>bandit.png</key>
		<dict>
			<key>Name</key>
			<string>Bandit</string>
			<key>Equivalents</key>
			<array>
				<string>(bandit)</string>
				<string>:(&gt;</string>
			</array>
		</dict>

	</dict>
</dict>
</plist>
