<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>AdiumSetVersion</key>
    <integer>1</integer>
    <key>Emoticons</key>
    <dict>
      <key>pinkiesmile.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:)</string>
          <string>:-)</string>
          <string>=)</string>
          <string>=-)</string>
          <string>(:</string>
          <string>(=</string>
          <string>:o)</string>
          <string>:O)</string>
        </array>
        <key>Name</key>
        <string>Smile</string>
      </dict>
      <key>rainbowkiss.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:3</string>
          <string>X3</string>
          <string>^3^</string>
          <string>(^3^)</string>
          <string>:-*</string>
          <string>:*</string>
        </array>
        <key>Name</key>
        <string>Cheeky</string>
      </dict>
      <key>twilightsmile.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>^_^</string>
          <string>^^</string>
          <string>^-^</string>
          <string>:&gt;</string>
          <string>:-&gt;</string>
          <string>^w^</string>
          <string>^u^</string>
          <string>^U^</string>
          <string>(^_^)</string>
          <string>(^^)</string>
          <string>(^-^)</string>
          <string>(^w^)</string>
          <string>(^u^)</string>
          <string>(^U^)</string>
        </array>
        <key>Name</key>
        <string>Smile 2</string>
      </dict>
      <key>flutterrage.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:O</string>
          <string>&gt;:o</string>
          <string>XO</string>
        </array>
        <key>Name</key>
        <string>Rage</string>
      </dict>
      <key>pinkiegasp.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:O</string>
          <string>:o</string>
          <string>:-o</string>
          <string>:-O</string>
          <string>omg</string>
          <string>O_O</string>
          <string>(O_O)</string>
          <string>O-O</string>
          <string>(O-O)</string>
          <string>O_O;</string>
          <string>(O_O);</string>
          <string>O-O;</string>
          <string>(O-O);</string>
        </array>
        <key>Name</key>
        <string>Shock</string>
      </dict>
      <key>fluttershysad.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:(</string>
          <string>:-(</string>
          <string>=(</string>
          <string>):</string>
          <string>)=</string>
          <string>:&lt;</string>
          <string>:-&lt;</string>
        </array>
        <key>Name</key>
        <string>Sad</string>
      </dict>
      <key>coolphoto.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>8)</string>
          <string>8-)</string>
          <string>8D</string>
          <string>8-D</string>
          <string>B)</string>
          <string>B-)</string>
          <string>BD</string>
          <string>B-D</string>
        </array>
        <key>Name</key>
        <string>Cool</string>
      </dict>
      <key>rainbowderp.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o_o</string>
          <string>o_o;</string>
          <string>o-o;</string>
          <string>o-o</string>
          <string>oo;</string>
          <string>._.</string>
          <string>._.;</string>
          <string>(o_o)</string>
          <string>(o_o);</string>
          <string>(o-o);</string>
          <string>(o-o)</string>
          <string>(oo);</string>
          <string>(._.)</string>
          <string>(._.);</string>
          <string>(o_o;)</string>
          <string>(o-o;)</string>
          <string>(._.;)</string>
          <string>(oo;)</string>
        </array>
        <key>Name</key>
        <string>Speechless</string>
      </dict>
      <key>raritycry.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>TT_TT</string>
          <string>TToTT</string>
          <string>(TT_TT)</string>
          <string>(TToTT)</string>
        </array>
        <key>Name</key>
        <string>Bawl</string>
      </dict>
      <key>trixieshiftright.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;_&gt;</string>
          <string>&gt;&gt;</string>
          <string>&gt;_&gt;;</string>
          <string>&gt;&gt;;</string>
          <string>&gt;-&gt;</string>
          <string>&gt;-&gt;;</string>
          <string>¬.¬</string>
          <string>¬_¬</string>
          <string>¬-¬</string>
          <string>¬¬</string>
          <string>¬.¬;</string>
          <string>¬_¬;</string>
          <string>¬-¬;</string>
          <string>¬¬;</string>
          <string>(&gt;_&gt;)</string>
          <string>(&gt;&gt;)</string>
          <string>(&gt;_&gt;;)</string>
          <string>(&gt;&gt;;)</string>
          <string>(&gt;-&gt;)</string>
          <string>(&gt;-&gt;;)</string>
          <string>(¬.¬)</string>
          <string>(¬_¬)</string>
          <string>(¬-¬)</string>
          <string>(¬¬)</string>
          <string>(¬.¬;)</string>
          <string>(¬_¬;)</string>
          <string>(¬-¬;)</string>
          <string>(¬¬;)</string>
          <string>(¬.¬);</string>
          <string>(¬_¬);</string>
          <string>(¬-¬);</string>
          <string>(¬¬);</string>
          <string>(&gt;-&gt;);</string>
          <string>(&gt;_&gt;);</string>
          <string>(&gt;&gt;);</string>
        </array>
        <key>Name</key>
        <string>Shifty (Right)</string>
      </dict>
      <key>trixieshiftleft.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&lt;_&lt;</string>
          <string>&lt;_&lt;;</string>
          <string>&lt;&lt;;</string>
          <string>&lt;&lt;</string>
          <string>&lt;-&lt;</string>
          <string>&lt;-&lt;;</string>
        </array>
        <key>Name</key>
        <string>Shifty (Left)</string>
      </dict>
      <key>raritystarry.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>*_*</string>
          <string>*-*</string>
          <string>*w*</string>
          <string>(*_*)</string>
          <string>(*-*)</string>
          <string>(*w*)</string>
        </array>
        <key>Name</key>
        <string>Starry-eyed</string>
      </dict>
      <key>ajbemused.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>T_T</string>
          <string>(T_T)</string>
          <string>:|</string>
          <string>:-|</string>
          <string>=|</string>
          <string>=-|</string>
        </array>
        <key>Name</key>
        <string>Bemused</string>
      </dict>
      <key>derpyderp1.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>o_O</string>
          <string>oO;</string>
          <string>o_O;</string>
          <string>o-O;</string>
          <string>o.O</string>
          <string>o.O;</string>
        </array>
        <key>Name</key>
        <string>Stunned 2</string>
      </dict>
      <key>derpyderp2.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>O_o</string>
          <string>Oo;</string>
          <string>O-o</string>
          <string>O_o;</string>
          <string>O-o;</string>
          <string>O.o</string>
          <string>O.o;</string>
        </array>
        <key>Name</key>
        <string>Stunned 1</string>
      </dict>
      <key>ajsmug.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>TwT</string>
        </array>
        <key>Name</key>
        <string>Smug</string>
      </dict>
      <key>pinkiehappy.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:D</string>
          <string>:-D</string>
          <string>=D</string>
          <string>=-D</string>
        </array>
        <key>Name</key>
        <string>Super-Happy</string>
      </dict>
      <key>rainbowlaugh.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>XD</string>
          <string>lolol</string>
          <string>olol</string>
          <string>lmao</string>
          <string>LMAO</string>
          <string>LOL</string>
          <string>ROFTLOL</string>
          <string>ROFL</string>
          <string>rofl</string>
          <string>rotflol</string>
        </array>
        <key>Name</key>
        <string>Laugh</string>
      </dict>
      <key>scootangel.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>O:)</string>
          <string>o:)</string>
          <string>O:-)</string>
          <string>o:-)</string>
          <string>O=)</string>
          <string>o=)</string>
          <string>O=-)</string>
          <string>o=-)</string>
        </array>
        <key>Name</key>
        <string>Angel</string>
      </dict>
      <key>ajsleepy.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>=_=</string>
          <string>v_v</string>
          <string>U_U</string>
          <string>V_V</string>
          <string>v-v</string>
          <string>u_u</string>
          <string>u-u</string>
          <string>-_-</string>
          <string>~_~</string>
          <string>z_z</string>
          <string>=o=</string>
          <string>~o~</string>
          <string>-o-</string>
          <string>Z_z</string>
          <string>Z_Z</string>
          <string>z_Z</string>
          <string>|-)</string>
          <string>|)</string>
          <string>|(</string>
          <string>|-(</string>
          <string>(=_=)</string>
          <string>(v_v)</string>
          <string>(U_U)</string>
          <string>(V_V)</string>
          <string>(v-v)</string>
          <string>(u_u)</string>
          <string>(u-u)</string>
          <string>(-_-)</string>
          <string>(~_~)</string>
          <string>(z_z)</string>
          <string>(=o=)</string>
          <string>(~o~)</string>
          <string>(-o-)</string>
          <string>(Z_z)</string>
          <string>(Z_Z)</string>
          <string>(z_Z)</string>
        </array>
        <key>Name</key>
        <string>Tired</string>
      </dict>
      <key>raritywink.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;)</string>
          <string>^_~</string>
          <string>~_^</string>
          <string>;-)</string>
          <string>;]</string>
          <string>;-]</string>
          <string>(;</string>
          <string>(-;</string>
          <string>[;</string>
          <string>[-;</string>
          <string>;D</string>
          <string>;-D</string>
        </array>
        <key>Name</key>
        <string>Wink</string>
      </dict>
      <key>pinkiecrazy.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>@w@</string>
          <string>@w@;</string>
          <string>@u@</string>
          <string>@u@;</string>
          <string>(@w@)</string>
          <string>(@w@;)</string>
          <string>(@u@)</string>
          <string>(@u@;)</string>
          <string>(@w@);</string>
          <string>(@u@);</string>
        </array>
        <key>Name</key>
        <string>Insane</string>
      </dict>
      <key>fluttercry.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:*(</string>
          <string>:*-(</string>
          <string>;_;</string>
          <string>;-;</string>
        </array>
        <key>Name</key>
        <string>Cry</string>
      </dict>
      <key>applejackunsure.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:\</string>
          <string>:-\</string>
          <string>=\</string>
          <string>=-\</string>
          <string>:/</string>
          <string>:-/</string>
          <string>=-/</string>
          <string>=/</string>
        </array>
        <key>Name</key>
        <string>Undecided</string>
      </dict>
      <key>derpytongue2.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:P</string>
          <string>:p</string>
          <string>:-P</string>
          <string>:-p</string>
          <string>Derp</string>
          <string>derp</string>
          <string>=p</string>
          <string>=P</string>
        </array>
        <key>Name</key>
        <string>Derpy</string>
      </dict>
      <key>unsuresweetie.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:S</string>
          <string>:s</string>
          <string>:-S</string>
          <string>:-S</string>
          <string>T~T</string>
          <string>o~o</string>
          <string>-~-</string>
          <string>&gt;~&gt;</string>
          <string>&lt;~&lt;</string>
        </array>
        <key>Name</key>
        <string>Unsure</string>
      </dict>
      <key>twistnerd.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:B</string>
          <string>:-B</string>
          <string>=B</string>
          <string>=-B</string>
          <string>8B</string>
          <string>8-B</string>
        </array>
        <key>Name</key>
        <string>Nerdy</string>
      </dict>
      <key>rainbowwild.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>;P</string>
          <string>;-P</string>
          <string>;p</string>
          <string>;-p</string>
        </array>
        <key>Name</key>
        <string>Tease</string>
      </dict>
      <key>twilightsheepish.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>^_^;</string>
          <string>^-^;</string>
          <string>^^;</string>
          <string>^w^;</string>
          <string>^u^;</string>
        </array>
        <key>Name</key>
        <string>Awkward</string>
      </dict>
      <key>applejackconfused.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>@_@</string>
          <string>@_@;</string>
          <string>@@;</string>
          <string>@@</string>
          <string>@-@</string>
          <string>@-@;</string>
          <string>x_x</string>
          <string>X_x</string>
          <string>x_X</string>
          <string>X_X</string>
          <string>x_x;</string>
          <string>X_x;</string>
          <string>x_X;</string>
          <string>X_X;</string>
          <string>x-x</string>
          <string>X-x</string>
          <string>x-X</string>
          <string>X-X</string>
          <string>x-x;</string>
          <string>X-x;</string>
          <string>x-X;</string>
          <string>X-X;</string>
        </array>
        <key>Name</key>
        <string>Overwhelmed</string>
      </dict>
      <key>rainbowhuh.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>?_?</string>
          <string>:-?</string>
          <string>:?</string>
          <string>?_?;</string>
        </array>
        <key>Name</key>
        <string>Confused</string>
      </dict>
      <key>raritydespair.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>D:</string>
          <string>D-:</string>
          <string>:C</string>
          <string>:c</string>
        </array>
        <key>Name</key>
        <string>Despair</string>
      </dict>
      <key>applecry.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:[</string>
          <string>:-[</string>
        </array>
        <key>Name</key>
        <string>Embarrassed</string>
      </dict>
      <key>twilightblush.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:]</string>
          <string>:-]</string>
          <string>-^^-</string>
          <string>#^_^#</string>
          <string>-^_^-</string>
          <string>^_^-</string>
          <string>-^_^</string>
          <string>#^-^#</string>
          <string>#^^#</string>
          <string>o^_^o</string>
          <string>o^-^o</string>
          <string>o^^o</string>
          <string>*^_^*</string>
          <string>*^^*</string>
          <string>*^-^*</string>
          <string>n//n</string>
          <string>n///n</string>
          <string>n//n;</string>
          <string>n///n;</string>
          <string>(n//n)</string>
          <string>(n///n)</string>
          <string>(n//n;)</string>
          <string>(n///n;)</string>
          <string>(n//n);</string>
          <string>(n///n);</string>
        </array>
        <key>Name</key>
        <string>Blush</string>
      </dict>
      <key>fluttershyouch.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;_&lt;</string>
          <string>&gt;-&lt;</string>
          <string>&gt;&lt;</string>
          <string>&gt;_&lt;;</string>
          <string>&gt;-&lt;;</string>
          <string>&gt;&lt;;</string>
          <string>&gt;.&lt;</string>
          <string>&gt;.&lt;;</string>
          <string>X(</string>
          <string>X-(</string>
          <string>x(</string>
          <string>x-(</string>
          <string>xc</string>
          <string>XC</string>
        </array>
        <key>Name</key>
        <string>Wince</string>
      </dict>
      <key>fluttershbad.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>DX</string>
          <string>D-X</string>
        </array>
        <key>Name</key>
        <string>Awful</string>
      </dict>
      <key>heart.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&lt;3</string>
        </array>
        <key>Name</key>
        <string>Heart</string>
      </dict>
      <key>pinkiesad2.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>TTwTT</string>
          <string>TTwTT;</string>
          <string>;w;</string>
        </array>
        <key>Name</key>
        <string>Pathetic</string>
      </dict>
      <key>twilightoops.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>:X</string>
          <string>:x</string>
          <string>:-X</string>
          <string>:-x</string>
          <string>:#</string>
          <string>:-#</string>
        </array>
        <key>Name</key>
        <string>Oops</string>
      </dict>
      <key>pinkiesick.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>+_+</string>
          <string>+-+</string>
          <string>(+_+)</string>
          <string>+_+;</string>
          <string>(+_+);</string>
          <string>+_+</string>
          <string>+=+</string>
          <string>(+=+)</string>
          <string>(+=+);</string>
          <string>(+-+)</string>
          <string>(+-+);</string>
        </array>
        <key>Name</key>
        <string>Sick</string>
      </dict>
      <key>rainbowdetermined2.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:)</string>
          <string>&gt;:-)</string>
          <string>&gt;:D</string>
          <string>&gt;:-D</string>
          <string>&gt;:3</string>
        </array>
        <key>Name</key>
        <string>Determined</string>
      </dict>
      <key>twilightangry2.png</key>
      <dict>
        <key>Equivalents</key>
        <array>
          <string>&gt;:(</string>
          <string>&gt;:-(</string>
          <string>&gt;=(</string>
          <string>):&lt;</string>
          <string>)-:&lt;</string>
          <string>)=&lt;</string>
        </array>
        <key>Name</key>
        <string>Angry</string>
      </dict>
    </dict>
  </dict>
</plist>

