Package: d-lan-all-in-one
Version: _VERSION_
License: GPL-3
Section: base
Priority: optional
Architecture: _ARCH_
Installed-Size: _INST_SIZE_
Depends: libprotobuf7 (_DEP_PROTOBUF_), libqtcore4 (_DEP_QTCORE_), libqtgui4 (_DEP_QTGUI_), libqt4-network (_DEP_QTNETWORK_), libc6 (_DEP_LIBC_), libstdc++6 (_DEP_LIBSTDCPP_), libgcc1 (_DEP_LIBGCC_)
Maintainer: Hervé Martinet <herve.martinet@gmail.com>
Homepage: http://www.d-lan.net
Description: A free LAN file sharing software. 
 The goal is to easily exchange a large amount of data 
 in a local area network environment like a LAN-Party. 
 After you launched D-LAN, you will see all other people and their 
 sharing automatically without special configuration.
